openapi: 3.0.3
info:
  title: FileSystemEditorAPI
  description: API for file operations in an editor environment, supporting multiple file upload, download, edit, and delete.
  version: "1.0"
servers:
  - url: https://curly-funicular-7vv6xr4ggqvfvgv-8000.app.github.dev
paths:
  /newworkspace:
    post:
      summary: scaffold a new workspace
      operationId: newworkspace
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArrayFileSchema"
      responses:
        "200":
          description: Upload successful
  /listfiles/{projectID}:
    get:
      summary: Retrieve the file structure of workspace
      operationId: listfiles
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: File structure retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  treeprint:
                    type: string
  /readfiles/{projectID}:
    get:
      summary: read specific files
      operationId: readfiles
      parameters:
        - name: projectID
          in: path
          description: ID of the project
          required: true
          schema:
            type: string
        - name: filelist
          in: query
          description: Comma-separated list of file paths to download
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Download successful
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FileSchema"
  /editFiles/{projectID}:
    post:
      summary: Edit multiple files
      operationId: editFiles
      parameters:
        - name: projectID
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ArrayEditSchema"
      responses:
        "200":
          description: Files edited successfully
components:
  schemas:
    FileSchema:
      type: object
      properties:
        path:
          type: string
          description: path of the file
        content:
          type: string
          description: Content of the file
    EditSchema:
      type: object
      properties:
        path:
          type: string
          description: path of the file
        new_content:
          type: string
          description: new Content of the file
    ArrayFileSchema:
      type: object
      properties:
        files:
          type: array
          items:
            $ref: "#/components/schemas/FileSchema"
    ArrayEditSchema:
      type: object
      properties:
        files:
          type: array
          items:
            $ref: "#/components/schemas/EditSchema"
